body {padding:10px;color:gray;font-family:tahoma;}
body.master0 {padding:0px;margin:0px;}
body.master1 {padding:0px;margin:0px;}
h1,h2{color:#EA690B;text-decoration:underline;margin:0em;display:block;}
h2{margin-top:1em;margin-bottom:0.5em;}
table.cRef {border-collapse:collapse;font-weight:bold;text-decoration:none;color:#EA690B;margin:0px;margin-bottom:4px;}
table.cRef td{border:solid 2px #EA690B;padding:2px;}
table.cRef tr:hover{background-color:gray;color:white;cursor:pointer;}
a.cRef {display:block;font-weight:bold;text-decoration:none;color:#EA690B;border:solid 2px #EA690B;padding:2px;margin:0px;margin-top:6px;text-align:center;}
a.cRef:hover {background-color:gray;color:white;cursor:pointer;}
ul {margin:0px;margin-bottom:5px;white-space:normal;}
li{list-style:none;}
li::before{color:#EA690B;content:"\2022";font-size:1em;padding-right:0.7em;}
code{border:solid 1px darkgrey;padding:3px;margin:2px;margin-bottom:0px;background-color:lightgrey;display:inline-block;color:black;}
strong,b {font-weight:bold;color:black;}
hr {margin:2em;}
div.edition {padding:0px;margin:0px;margin-bottom:3px;color:black;font-size:10px;font-weight:normal;padding-left:100px;}
div#conseilsGeneriques {width:80%;margin-left:10%;margin-top:10px;border-left:double 3px gray;padding:2px;}
div#custo,div#conseils,div#master0,div#master1,div#outro {white-space:pre-line;}